<!DOCTYPE html>
<head>
    <title>Shire University</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Shire University: Course Tool</h1>
    <nav>
        <ul>
          <li><a href="./main.html">Main Menu</a></li>
          <li><a href="./registration.html">Registration</a></li>
          <li><a href="./faq.html">Help</a></li>
        </ul>
    </nav>
    <div class="links">
        <a href="./login.html">Login</a>
        <a href="./search.html">Search</a>
        <a href="./registration.html">Register</a>
        <a href="./profInfo.html">Find Professors</a>
        

    </div>
    
</body>