<!DOCTYPE html>
<head>
    <title>Shire University</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Register For a Course</h1>
    <div>
        <form>
            <label for = "get-student-id"> Student ID: </label>
            <input type="text"  id="student-id">
            <label for = "get-subject-crn"> CRN: </label>
            <input type="text"  id="crn">
            <div>
                <button id="reg-type" value="add">Add Course</button>
                <button id="reg-type" value="drop">Drop Course</button></br>
                <output id="get-out"></output>
            </div>
        </form>
    </div>

    <script src="../js/registration.js"></script>
</body>