<!DOCTYPE html>
<head>
    <title>Shire University</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Shire University: Course Tool</h1>
    <nav>
        <ul>
          <li><a href="./index.html">Main Menu</a></li>
          <li><a href="./registration.html">Registration</a></li>
          <li><a href="./faq.html">Help</a></li>
        </ul>
    </nav>
    <h3>Register For a Course</h3>
    <div>
        <form class="form-container">
            <label for = "get-student-id"> Student ID: </label>
            <input type="text"  id="student-id">
            <label for = "get-subject-crn"> CRN: </label>
            <input type="text"  id="crn">
            <div>
                <!-- <button id="reg-type" value="add">Add Course</button> -->
                <input type="button" id="add-btn" value="add"/>
                <input type="button" id="drop-btn" value="drop"/>
                <!-- <button id="reg-type" value="drop">Drop Course</button></br> -->
                <output id="get-out2"></output>
            </div>
        </form>
    </div>

    <script src="../js/registration.js"></script>
</body>