<!DOCTYPE html>
<head>
    <title>Shire University</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Shire University: Course Schedule </h1>
    <nav>
        <ul>
          <li><a href="./index.html">Main Menu</a></li>
          <li><a href="./registration.html">Registration</a></li>
          <li><a href="./faq.html">Help</a></li>
        </ul>
    </nav>
    <h3>Course Schedule</h3>
    <div>
        <form class="form-container">
            <div>
                <button id="get-schedule-btn">Get Schedule</button></br></br>
                <output id="get-out"></output>
            </div>
        </form>
    </div>

    <script src="../js/search.js"></script>
</body>

